.form-containter{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.form-heading{
    margin-bottom: 10px;
}

.form-group{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group label{
    font-size: 24px;
}

.form-group input {
    color: bisque;
    width: 50%;
    padding-bottom: 10px;
}

.form-group button {
    background-color: var(--soft);
    color: var(--primary);
    border: 1px solid var(--dark);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; cursor: pointer;
    width: 50%;
}

.form-group button:hover{
    background: var(--dark);
    transition: all 0.3s ease-out; 
}