  :root{
    --main-header-font: normal normal normal 88px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
  }

  .hero-container {
    background: url('../images/main3.JPG') center center/cover no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  
  .hero-container > h1 {
    position: absolute;
    color:  rgb(28, 27, 27);
    font-size: 100px;
    margin-top: -100px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  #orgName{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    font: var(--main-header-font);
    font-size: 88px;
    letter-spacing: 0.1em;
  }

  #orgSaying{
    text-align: center;
    color: white;
    padding-bottom: 800px;
    font: var(--main-header-font);
    font-size: 44px;
    letter-spacing: 0.42em;
  }
  
  #orgSaying{
    text-align: center;
    color: white;
    padding-bottom: 800px;
    font: var(--main-header-font);
    font-size: 44px;
    letter-spacing: 0.42em;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }

  /* fade in effect for pictures */
  .fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  .pic {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
    color: beige;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

  /* media settings */
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 10px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }

    .pic {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-animation: fade 24s infinite;
      animation: fade 24s infinite;
      color: beige;
    }

    #orgName{
      text-align: center;
      color: white;
      padding-bottom: 10px;
      font: var(--main-header-font);
      font-family: 'Courier New', Courier, monospace;
      font-size: 32px;
    }

    #orgSaying{
      text-align: center;
      color: white;
      padding-bottom: 300px;
      font: var(--main-header-font);
      font-size: 18px;
      letter-spacing: 0.25em;
    }

    #orgQuote{
      text-align: center;
      color: white;
      font: var(--main-header-font);
      padding-bottom: 60px;
      font-size: 12px;
      letter-spacing: 0.25em;
      font-style: italic;
    }
  }