:root {
  --primary: #fff;
  --soft: rgba(26, 188, 209, 0.678);
  --dark: #2424;
  --bg: linear-gradient(90deg, rgba(28, 27, 27, 0.246) 0%, rgb(26, 23, 23) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
